<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment App</title>
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
    <div>
        <form class="container" onsubmit="addUser(event)" action="POST">
            <div>
                <h1>Booking Appointment App</h1>
                <label>Name</label>
                <input type="text" name="username" id="userName">
                <label>Email</label>
                <input type="email" name="email" id="email">
                <label>Phone Number</label>
                <input type="number" name="phoneNumber" id="phone">
                <button id="submit" type="submit">Submit</button>
            </div>
        </form>
    </div>
    <ul id="users">

    </ul>
</body>
<script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
<script src="/js/main.js"></script>

</html>